/src/main/java/pro/sky/objects/
/src/main/java/pro/sky/Exception/
/src/main/java/pro/sky/bar/
/src/main/java/pro/sky/arrays/
/.idea/
/target/
/target/classes/
/target/generated-sources/
/src/main/resources/
/src/main/java/pro/sky/potter/
